{% extends 'layout.html' %}

{% block title %}
        Página para Confirmar Eliminar Productos
{% endblock %}

{% block content %}
        <hr>
        <h3>
            Por Favor Confirma que Desea Eliminar el Siguiente Producto
        </h3>
        <hr>
        <div>
            <table border="3">
                <thead>
                    <th>id</th>
                    <th>CiudadOrigen</th>
                    <th>AeropuertoOrigen</th>
                    <th>FechaSalida</th>
                    <th>HoraSalida</th>
                    <th>CiudadDestino</th>
                    <th>AeropuertoDestino</th>
                    <th>FechaLlegada</th>
                    <th>HoraLlegada</th>
                    <th>Valor</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{rstDB[0]}}</td>
                        <td>{{rstDB[1]}}</td>
                        <td>{{rstDB[2]}}</td>
                        <td>{{rstDB[3]}}</td>
                        <td>{{rstDB[4]}}</td>
                        <td>{{rstDB[5]}}</td>
                        <td>{{rstDB[6]}}</td>
                        <td>{{rstDB[7]}}</td>
                        <td>{{rstDB[8]}}</td>
                        <td>{{rstDB[9]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <form action="{{url_for('eliminar_datos')}}" method="POST">
            <input type="hidden" name="id" value="{{rstDB[0]}}">
            <button>
                <h3>
                    Eliminar
                </h3>
            </button>
        </form>
        <hr>
{% endblock %}