{% extends 'layout.html' %}

{% block title %}
    Página de Contáctenos
{% endblock %}

{% block content %}
    <h1>Información</h1>
    <br>
    <p>
        Nombre: {{txtNomb}}<br>
        Apellido: {{txtApel}} <br>
        Teléfono: {{txtTel}} <br>
        E-mail: {{txtEmail}} <br>
    </p>

   {% endblock %}