{% extends 'layout.html' %}

{% block title %}
        Página para Editar Datos
{% endblock %}

{% block content %}
        <hr>
        <h3>
            Editar Producto
        </h3>
        <hr>
        <div>
            <table border="3">
                <thead>
                    <th>id</th>
                    <th>FechaSalida</th>
                    <th>HoraSalida</th>
                    <th>FechaLlegada</th>
                    <th>HoraLlegada</th>
                    <th>Valor</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{rstDB[0]}}</td>
                        <td>{{rstDB[1]}}</td>
                        <td>{{rstDB[2]}}</td>
                        <td>{{rstDB[3]}}</td>
                        <td>{{rstDB[4]}}</td>
                        <td>{{rstDB[5]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div>
            <form action="{{url_for('actualizar_datos')}}" method="POST">

                <label for="id">id</label>
                <input value="{{rstDB[0]}}" readonly = "readonly" type="text" name="id"> <br>

                <label for="FechaSalida">Fecha salida</label>
                <input value="{{rstDB[4]}}" type="text" name="FechaSalida"> <br>

                <label for="HoraSalida">Hora salida</label>
                <input value="{{rstDB[5]}}" type="text" name="HoraSalida"> <br>

                <label for="FechaLlegada">Fecha llegada</label>
                <input value="{{rstDB[9]}}" type="text" name="FechaLlegada"> <br>

                <label for="HoraLlegada">Hora llegada</label>
                <input value="{{rstDB[10]}}" type="text" name="HoraLlegada"> <br>

                <label for="Valor">Valor</label>
                <input value="{{rstDB[11]}}" type="number" name="Valor"> <br>

                
                <input type="reset" value="Restablecer Datos">
                <input type="submit" value="Actualizar Datos">

            </form>
            <hr>
            <a href="/">Cancelar o Vover</a>
        </div>
        <hr>
{% endblock %}