{% extends 'layout.html' %}

{% block title %}
        Página de Confirmación Datos Eliminados
{% endblock %}

{% block content %}
        <hr>
        <h3>
            {{rstDB}}
        </h3>

        <form action="/">
            <button>
                <h3>
                    Aceptar
                </h3>
            </button>
        </form>
        <hr>

{% endblock %}