{% extends 'layout.html' %}

{% block title %}
        Página de Respuesta a Guardar Datos
{% endblock %}

{% block content %}
    <h3>
        Información Resultado
    </h3>

    <br>
    <h3>
        {{rstDB}}
    </h3>

    <ul>
        <li>
            <a href="{{url_for('registrar_itinerario')}}">
                Registrar Otro Vuelo
            </a>
        </li>
        <li>
            <a href="/">
                Ver itinerario
            </a>
        </li>
    </ul>
{% endblock %}