{% extends 'layout.html' %}

{% block title %}
    Página de Inicio
{% endblock %}

{% block content %}
    <h1>
        Vuela Facil S.A
    </h1> 
    <br> 
    <h2>
        Bienvenidos a nuestra página de itinerarios
    </h2>
    <hr>
    <h3> 
        <!-- Contenido variable rstDB = {{rstDB}} -->
        <a href="{{url_for('registrar_itinerario')}}">
            Click aquí para Registrar itinerario de vuelo
        </a>
    </h3>

    <hr>
    
    <table border="3">
        <thead>
            <tr>
                <th>Id</th>
                <th>CiudadOrigen</th>
                <th>AeropuertoOrigen</th>
                <th>CodIATA_Origen</th>
                <th>FechaSalida</th>
                <th>HoraSalida</th>
                <th>CiudadDestino</th>
                <th>AeropuertoDestino</th>
                <th>CodIATA_Destino</th>
                <th>FechaLlegada</th>
                <th>HoraLlegada</th>
                <th>Valor</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for db in rstDB %}
            <tr>
                <td>{{db[0]}}</td>
                <td>{{db[1]}}</td>
                <td>{{db[2]}}</td>
                <td>{{db[3]}}</td>
                <td>{{db[4]}}</td>
                <td>{{db[5]}}</td>
                <td>{{db[6]}}</td>
                <td>{{db[7]}}</td>
                <td>{{db[8]}}</td>
                <td>{{db[9]}}</td>
                <td>{{db[10]}}</td>
                <td>{{db[11]}}</td>
                <td>
                    <form action="{{url_for('editar_itinerario')}}" method="POST">
                        <input type="hidden" name="id" value="{{db[0]}}">
                        <button>Editar Datos</button>
                    </form>
                </td>
                <td>
                    <form action="{{url_for('confirmar_eliminar_datos')}}" method="POST">
                        <input type="hidden" name="id" value="{{db[0]}}">
                        <button>Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>

    <p>
        Vuela Facil es una agencia de viajes que brinda la oportunidad de administrar de forma sencilla el intinerario que requieres 
    </p>
    <img class="cImg" src="https://vuelafacil.pe/wp-content/uploads/2021/06/logo-vuela-fa%CC%81cil.svg" alt="Imagen no disponible">
{% endblock %}