{% extends 'layout.html' %}

{% block title %}
    Página de Información
{% endblock %}

{% block content %}
    <h1>
        Vuela Facil
    </h1>

    <p>
        Contexto: Brindar una respuesta oportuna, resolviendo y entregando la información adecuada al cliente que busca un servicio de transporte aéreo tiene como factores decisivos el tiempo de respuesta y la veracidad de los datos, elementos que no dan margen de error concretar la venta del servicio, además de fidelizar al consumidor.
    </p>
    <p>
        Proposito: La propuesta aborda la necesidad planteada con un aplicativo (software) que facilite a las empresas de aviación buscar una ruta para ir de una ciudad a otra, usando únicamente los vuelos de los que dispone la empresa. Se quiere utilizar este programa desde todas las agencias de viaje del país.    </p>
     <img class="cImg" src="https://www.facebook.com/357794874951571/photos/p.357798074951251/357798074951251/" alt="Imagen Privada" ">
{% endblock %}
