{% extends 'layout.html' %}

{% block title %}
        Página para Registrar Productos
{% endblock %}

{% block content %}
        <hr>
        <h3>
            Registro itinerario de vuelo
        </h3>
        <hr>
        <div>
            <form action="{{url_for('guardar_datos')}}" method="POST">

                <label for="CiudadOrigen">Ciudad Origen</label>
                <input type="text" name="CiudadOrigen"> <br>

                <label for="AeropuertoOrigen">Aeropuerto Origen</label>
                <input type="text" name="AeropuertoOrigen"> <br>

                <label for="CodIATA_Origen">CodIATA Origen</label>
                <input type="text" name="CodIATA_Origen"> <br>

                <label for="FechaSalida">Fecha Salida Origen</label>
                <input type="text" name="FechaSalida"> <br>

                <label for="HoraSalida">Hora Salida</label>
                <input type="text" name="HoraSalida"> <br>

                <label for="CiudadDestino">Ciudad Destino</label>
                <input type="text" name="CiudadDestino"> <br>

                <label for="AeropuertoDestino">Aeropuerto Destino</label>
                <input type="text" name="AeropuertoDestino"> <br>

                <label for="CodIATA_Destino">CodIATA Destino</label>
                <input type="text" name="CodIATA_Destino"> <br>

                <label for="FechaLlegada">Fecha Llegada</label>
                <input type="text" name="FechaLlegada"> <br>

                <label for="HoraLlegada">Hora Llegada</label>
                <input type="text" name="HoraLlegada"> <br>

                <label for="Valor">Valor</label>
                <input type="any" name="Valor"> <br>

                
                <input type="reset" value="Borrar Datos">
                <input type="submit" value="Guardar Datos">

            </form>
            <hr>
            <a href="/">Cancelar o Vover</a>
        </div>
        <hr>
{% endblock %}
